.img-container {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none !important; /* Explicitly remove any shadow */
    border: none !important; /* Optional: remove borders if applied elsewhere */
}

.wrapper {
    padding: 5rem 0 10rem;
}

/* Custom Button Style */
.center-view-button {
    background-color: #A54f25 !important; /* Set button color */
    color: white !important; /* Set text color */
    padding: 10px 30px !important; /* Refined padding for better proportions */
    border-radius: 12px !important; /* Subtle rounded edges */
    font-size: 1.6rem !important; /* Consistent font size */
    text-transform: none !important; /* No uppercase text */
    transition: all 0.3s ease-in-out !important; /* Smooth transition for hover effects */
    display: inline-block; /* Prevent stretching */
    text-align: center; /* Center text within the button */
}

/* Hover Effect */
.center-view-button:hover {
    background-color: #8c441e !important; /* Darken on hover */
    transform: translateY(-3px); /* Add subtle lift on hover */
}



/* PrevNext */
.pnWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    max-width: 800px; 
    margin-right: auto; 
    margin-left:  auto;
    padding-right: 30px; 
    padding-left:  30px;
}

.pnWrapper > a {
    display: flex;
    justify-content: center;
    border: 2px solid #ff5436;
    width: 100%;
    padding: 2rem 5rem;
    color: inherit;
}

.pnWrapper > a:hover {
    opacity: 0.8;
}

/* Media Queries */
@media(max-width: 540px) { 
    .wrapper{
        padding: 2rem 0 10rem; 
    }
    
    .pnWrapper{
        flex-wrap: wrap;
    }
}
