node_modules/
node_modules/
# Ignore all images files in the public/images directory
#public/images/
#public/videos

# Ignore Next.js build artifacts
.next/

# Ignore caches
.cache/

# Ignore large files not meant for Git tracking
*.log
*.gz
*.webp
